[2022-02-07 16:40] gastaldi opened #1 "Add contributors"

[2022-02-07 16:40] gastaldi commented on #1
@all-contributors add @ricardozanini for code and maintenance

[2022-02-07 16:40] #1 closed

[2022-02-11 20:05] ricardozanini opened #5 "Configure GH Actions CI to run tests and build on Windows machines"
See https://github.com/quarkiverse/quarkus-openapi-generator/pull/3#discussion_r804605905

[2022-02-12 04:09] RishiKumarRay commented on #5
getting these errors while configuring
![Screenshot from 2022-02-12 09-39-13](https://user-images.githubusercontent.com/87641376/153696022-84bf7e68-fd58-4819-821a-4cc5fe331e2f.png)
 ci

[2022-02-14 12:15] ricardozanini commented on #5
@RishiKumarRay, many thanks! We can wait for #3 to be merged. It will fix these formatting problems.

[2022-02-16 13:10] ricardozanini commented on #5
@RishiKumarRay can you try again, please?

[2022-02-16 13:11] RishiKumarRay commented on #5
@ricardozanini Sure I will do it now

[2022-02-16 13:18] RishiKumarRay commented on #5
still getting the errors(i had fetched the changes)
![Screenshot from 2022-02-16 18-46-52](https://user-images.githubusercontent.com/87641376/154272554-8ce1c03f-4cf9-46ef-a1b9-23a264b8de90.png)
@ricardozanini

[2022-02-16 13:55] ricardozanini commented on #5
That's really weird since the CI has passed in the main branch. Let me try to fix it locally.

[2022-02-16 14:00] ricardozanini commented on #5
Just ran on locally (MacOS) with `mvn -B formatter:validate verify --file pom.xml` and I'm not seeing this same error. @gastaldi maybe this is related to the platform? I'll take a closer look at the `formatter` execution.

[2022-02-16 14:04] gastaldi commented on #5
Maybe it's related to how line endings and line breaks are handled in the formatter? Can you run that in a Windows machine?

[2022-02-16 14:05] ricardozanini commented on #5
I don't have access to a Windows machine. But, yeah might be that:

[code]

@RishiKumarRay, can you try adding to the workflow file a `-Dformat.skip=true`?

[2022-02-16 14:08] RishiKumarRay commented on #5
@ricardozanini In which file do i have to add? build.yml

[2022-02-16 14:11] RishiKumarRay commented on #5
i have added let me test @ricardozanini

[2022-02-16 14:13] ricardozanini commented on #5
@RishiKumarRay I imagine you can create another file or profile (not sure if this is valid) to run on a Windows since the command should not be changed on Linux.

[2022-02-16 14:13] RishiKumarRay commented on #5
@ricardozanini sure i will do this , give me some time

[2022-02-16 14:13] ricardozanini commented on #5
@gastaldi maybe we can create a profile for Windows in the quarkiverse BOM? 🤔

[2022-02-16 14:16] RishiKumarRay commented on #5
@ricardozanini i did testing on windows after adding that and that is still failing on windows
![Screenshot from 2022-02-16 19-45-48](https://user-images.githubusercontent.com/87641376/154283020-64d4d6c7-ac7b-42f3-86b7-1491b9fc7589.png)

[2022-02-16 14:22] ricardozanini commented on #5
I think you must escape the command. Try this:

[code]

[2022-02-16 14:23] RishiKumarRay commented on #5
yeah sure let me try this

[2022-02-16 14:26] RishiKumarRay commented on #5
@ricardozanini that too is not working

[2022-02-16 14:27] RishiKumarRay commented on #5
'-Dformat\.skip=true' i read somewhere we have to quote this, Let me try this

[2022-02-16 14:30] ricardozanini commented on #5
If you need to quote it, you should do:

[code]

Not sure if this will do, thou. I don't have a Windows machine to test it. :(

[2022-02-16 14:32] RishiKumarRay commented on #5
Yeah me too , look at this https://stackoverflow.com/questions/6347985/cannot-run-maven-using-mvn-d-argument-within-microsoft-powershell-but-works
maybe you can find something since you are aware of java
@ricardozanini

[2022-02-16 14:38] RishiKumarRay commented on #5
Although it took time but in the end this one failed too but with different you may want to see this
![Screenshot from 2022-02-16 20-07-29](https://user-images.githubusercontent.com/87641376/154287296-c60f6545-09db-49f0-a0f3-c9b6c7b12823.png)

[2022-02-16 14:51] RishiKumarRay commented on #5
@ricardozanini
Error:  Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.22.2:test (default-test) on project quarkus-openapi-generator-deployment: There are test failures.
Error:
Error:  Please refer to D:\a\quarkus-openapi-generator\quarkus-openapi-generator\deployment\target\surefire-reports for the individual test results.
Error:  Please refer to dump files (if any exist)

[2022-02-16 14:52] ricardozanini commented on #5
I need to know the error in order to fix it. Can you provide the log files included here?

```D:\a\quarkus-openapi-generator\quarkus-openapi-generator\deployment\target\surefire-reports for the individual test results.```

[2022-02-16 14:54] RishiKumarRay commented on #5
@ricardozanini i didn't get it but you can visit this link , and everything is present here
https://github.com/RishiKumarRay/quarkus-openapi-generator/runs/5217782988?check_suite_focus=true
let me know if you are asking for anything else

[2022-02-16 14:55] gastaldi commented on #5
I built in a Windows VM and saw this:

[code]

[2022-02-16 14:59] ricardozanini commented on #5
@gastaldi, many thanks! It might be a problem with the Swagger parser. I'll take a closer look into it! Many thanks, guys!

@RishiKumarRay, please open the PR. I don't think the problem is related to the GHA configuration. We can keep the formatting verification and merge it after fixing the Windows errors. Thank you!

[2022-02-16 15:02] ricardozanini commented on #5
@RishiKumarRay can you add this configuration to the build?

@gastaldi nailed it!

[2022-02-16 15:09] ricardozanini commented on #5
I think that now that we have this property set, should work for both. So you can keep the same configuration.

[2022-02-16 15:11] gastaldi commented on #5
Sounds good. Don't forget that this needs to be run before `actions/checkout` 👍🏻

[2022-02-16 15:12] RishiKumarRay commented on #5
yeah let me try this

[2022-02-16 15:26] RishiKumarRay commented on #5
@ricardozanini i tried previously with that command but it failed later on i used this command mvn -B formatter:validate verify -D"format.skip"=true --file pom.xml but this one failed too
![Screenshot from 2022-02-16 20-55-15](https://user-images.githubusercontent.com/87641376/154297162-a79b8c4e-4482-476c-8f7b-0e9c458b0885.png)

[2022-02-16 15:28] ricardozanini commented on #5
@RishiKumarRay it will fail because we have a bug. The error we can't see is the formatted one with the configuration provided by @gastaldi

[2022-02-16 15:30] RishiKumarRay commented on #5
@ricardozanini i also added the gitconfig what to do now?

[2022-02-16 15:30] ricardozanini opened #7 "Error when parsing the OpenAPI spec file on Windows"
When running `mvn clean install` from the main branch, the following error is raised:

[code]

[2022-02-16 15:31] ricardozanini commented on #5
If you have added the configuration, we are good. Just open the PR that I fix after #7

[2022-02-16 15:33] RishiKumarRay commented on #5
@ricardozanini raised the PR

[2022-02-16 15:43] ricardozanini commented on #5
@RishiKumarRay no need to have the `format.skip` option now that we have the `core.autocrlf` configuration in place.

[2022-02-22 18:54] #7 closed

[2022-02-22 18:58] ricardozanini opened #13 "Add support for Basic Authentication, Auth Bearer, and API Key"
See reference: https://spec.openapis.org/oas/v3.1.0#security-scheme-object

Those three authentication schemas should be simple enough to cover some security use cases. This issue will be followed up by OAuth2 and OpenID support in the future.

[2022-02-22 19:26] #5 closed

[2022-03-03 13:13] hbelmiro opened #22 "Many resource classes per path (one per tag) - bug or feature?"
I found that the extension generates one resource class per tag, no matter the path.
For instance, given the following Open API file:

[code]

The extension creates 2 classes for the `/hello` path with the same code.

[code]

[code]

Is this a bug or a feature? Shouldn't it create only one class per path?

[2022-03-03 13:34] ricardozanini commented on #22
This is the underlying generator work, so I'd say it's following the correct feature. It should generate one for each [tag](https://spec.openapis.org/oas/v3.1.0#tagObject) since the API generation is based on tags, if there's no tag, it creates the `DefaultApi` and adds all the methods there.

[2022-03-03 13:41] hbelmiro commented on #22
That's what I thought. Just wanted to clarify if that was the expected behaviour.
Thanks @ricardozanini.

[2022-03-03 13:41] #22 closed

[2022-03-04 20:44] #13 closed

[2022-03-16 10:21] joergsesterhenn opened #26 "Generator not working under Windows - "URI is not hierarchical""
I tried the generator in a test-project and got the error below. Is it supposed to work on windows? Is there a known workaround?

 ### Environment
[code]
### Stacktrace
[code]

[2022-03-24 23:14] lburgazzoli opened #28 "Wrong class generated for enum"
Ginevn the follwogin OpenApi scheme:

[code]

the extension generates an invalid class:

[code]

Which is wrong as it does not include the listed enum values.

As an additional note, `ConnectorNamespaceState.values()` should probably be cached as each call to `values()` creates a copy of the enum values for each invocation

[2022-03-28 12:42] ricardozanini commented on #26
Hi, @joergsesterhenn thanks for opening this issue! I'll take a look. Can you share a reproducer? We have a CI running the examples on a Windows machine, and it's working fine. It used to have a bug, but we fixed it here: #12

[2022-03-28 12:43] ricardozanini commented on #28
@lburgazzoli, can you share your openapi file?

[2022-03-28 13:15] lburgazzoli commented on #28
Here you have https://github.com/lburgazzoli/bf2-cos-fleetshard/tree/opeanpi-get-quarus/cos-fleet-manager-api/src/main/openapi

[2022-03-28 17:20] ricardozanini commented on #26
By the way, which version are you using?

[2022-03-29 18:09] #28 closed

[2022-03-31 12:39] ricardozanini commented on #28
@lburgazzoli, can you try the latest 0.3.1 version? Maven repo took a while to update the latest release. :(

[2022-03-31 13:20] lburgazzoli commented on #28
On my TODO list for tomorrow

[2022-04-01 07:17] lburgazzoli opened #38 "Handling of deprectated fields"
If a schema contains a deprecated field, the generated class may be invalid, as example given the schema below:

[code]

The generated class is:

[code]

As you can notice, `lastTransitionTime` get duplicated which result in a complication error.

It would be nice to have an option to control the behavior of the generator i.e. to skip any deprecated fields.

[2022-04-01 07:21] lburgazzoli commented on #28
@ricardozanini much better, filled another issue: https://github.com/quarkiverse/quarkus-openapi-generator/issues/38 :)

[2022-04-01 08:01] lburgazzoli opened #39 "Allow to exclude/incldue some definition from code generation"
In [this](https://github.com/lburgazzoli/bf2-cos-fleetshard/tree/opeanpi-get-quarus/cos-fleet-manager-api/src/main/openapi) repo I have a number of openapi files:
- `connector_mgmt-private.yaml`
- `connector_mgmt.yaml`
- `kas-fleet-manager.yaml`

In this set up, `connector_mgmt-private.yaml` is the main entry point for code generation and the others, are only referenced by `connector_mgmt-private.

[2022-04-01 10:05] lburgazzoli opened #40 "The verbose configuration option does not same to have effect"
I have set the following property in my application.property

    quarkus.openapi-generator.codegen.verbose = false

But setting it to true or false does not seem to have any effect

[2022-04-07 13:27] #38 closed

[2022-05-02 17:46] #26 closed

[2022-05-04 14:46] ricardozanini opened #57 "Generate a markdown documentation with all the possible configuration for a given OpenAPI spec input"

[2022-05-05 12:34] ricardozanini opened #59 "Replace @QueryParams with @BeanParams"
See the discussion here for context: https://github.com/quarkusio/quarkus/issues/25370#issuecomment-1118284104

[2022-05-06 13:19] #40 closed

[2022-05-06 13:24] ricardozanini opened #62 "Avoid collision of generated classes when generating code from multiple spec files"
The default `base-package` property should append the file name to avoid collision in generated classes. For example, suppose two OpenAPI spec files are being generated with the exact object definition, and the user didn't define a different package for each one. In that case, the extension will generate only one file, overriding one of them.

[2022-05-06 16:01] #62 closed

[2022-05-12 13:59] antssilva96 opened #66 "Additional properties support"
Hey guys, I just stumbled upon this extension and it is exactly what I need!
Thank you for your effort in creating this!

However due to the issue reported in https://github.com/OpenAPITools/openapi-generator/issues/2901 I have to provide an additional property to be able to generate the sources. The property is the outcome of the issue linked above: `openApiNullable=false`.

I took the liberty of

[2022-05-12 19:10] ricardozanini commented on #66
Hey, @antssilva96, please open a PR with your changes. They are more than welcome! :)

Additional properties were suppressed because, in the Quarkus context, they might not make sense. But in some cases, I understand that some of these properties should be supported via our prefix. We can add them on demand based on the use case.

If the property is applied in codegen phase, use the prefix `quarku

[2022-05-12 19:15] ricardozanini commented on #66
Hmm reading again the issue you linked, maybe we can fix this the Quarkus way? What's happening in your case? The import is being generated every time? I think you can remove this import for good in the [QuarkusJavaClientCodegen](https://github.com/quarkiverse/quarkus-openapi-generator/blob/main/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/wrapper/QuarkusJavaClientCodegen.j

[2022-05-13 07:16] antssilva96 commented on #66
Hi @ricardozanini thanks for your time!

Can you elaborate a bit on

I'm fairly new to Quarkus and might be missing the bigger picture :stuck_out_tongue:

Regarding my issue, I'm getting `package org.openapitools.jackson.nullable does not exist` errors trying to use the generator on Airflow's openapi spec available in https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html.

[2022-05-13 07:20] antssilva96 commented on #66
Meanwhile I opened a PR with the other fix, that is independent from this discussion:
https://github.com/quarkiverse/quarkus-openapi-generator/pull/67

[2022-05-13 15:28] boun opened #69 "{openapi:genDeprecatedModelAttr(package,} not found"
Hi,

I am unable to generate a client in my project for Quarkus 2.5.3.Final. I am using Java 11 on an arm64 mac. Do you have any idea, why this is happening?

Thanks for your project!
boun

[code]

[2022-05-13 16:10] ricardozanini commented on #69
Also, can you upgrade to Quarkus 2.8.x?

[2022-05-13 16:14] ricardozanini commented on #69
@boun I've merged the PR. Can you try building the project locally and use it in your project to see if it fixes this problem? Or can you provide me with a reproducer?

[2022-05-13 16:15] ricardozanini commented on #69
@antssilva96, is this the bug were you seeing?

[2022-05-13 17:49] ricardozanini commented on #66
Thank you! We've merged, and I'll release a patch version right now.

Well, some of the properties of the internal generator might not make sense in the context of the extension just because the original generator runs as a maven plugin and this extension runs in Quarkus Codegen build. It's similar but different :)

Additionally, we have our own template engine. Some properties there might not mak

[2022-05-13 20:05] boun commented on #69
thanks for your prompt reply. I checked with 0.6.1 but it did not fix the problem. _However_ upgrading Quarkus to 2.8 did it! Thanks so much and sorry for the noise!

[2022-05-13 20:05] #69 closed

[2022-05-17 13:06] hbelmiro opened #72 "Add support to variables for server definition"
Host names and service ports often differ from one environment to another. It would be nice if we could use different information based on environment variables.

https://swagger.io/docs/specification/api-host-and-base-path/

[code]

As a workaround we can use Quarkus properties to define the entire URL.
https://quarkus.io/guides/rest-client#create-the-configuration

[2022-05-17 14:31] antssilva96 commented on #66
I'll take a shot !

One question,

I'm still unsure if this is something we want hardcoded for all use cases. For my openapi spec the import was added but the JsonNullable class was unused. How can we be sure this is the case for every spec? If it was I think the property added in the PR I originally linked was not needed in the first place, it could just be forced in the generator instead of an o

[2022-05-18 17:43] antssilva96 commented on #66
Hi @ricardozanini !

Regarding the "unused" import...

After some digging we figured that the problem is that the quarkus generator is using its own template (model.qute and pojo.qute) where imports are retrieved from JavaClientCodegen which gets them from AbstractJavaCodegen.

So, without the new property set to false, we are including the import but our (quarkus openapi generator) templates do n

[2022-05-19 09:06] ricardozanini commented on #66
Yes, indeed. You're right. I thought from the spec side, whereas aligning the Jackson annotation would make sense. And yes, since we are wrapping the types, wouldn't make sense to add it.

[2022-05-19 09:10] antssilva96 commented on #66
Thanks for the help, I think we can close this issue now!

[2022-05-19 09:10] #66 closed

[2022-05-19 09:25] ricardozanini commented on #72
We already support this. The Rest Client is highly configurable. Or am I missing something? Why would I change the spec to add a placeholder like this while we have the Rest Client configuration?

See: https://github.com/quarkiverse/quarkus-openapi-generator/blob/0.6.1/integration-tests/example-project/src/test/java/io/quarkiverse/openapi/generator/it/WiremockOpenWeather.java#L18

You can already

[2022-05-20 07:37] ricardozanini commented on #72
Oh, you meant **server template**? I need to review the internal generator, if I'm not mistaken these variables are already parsed. Need to understand what we are doing with them internally.

The base URI attribute in the generated clients uses the first server from the list.

[2022-06-14 09:59] wtrocki opened #82 "Support for plain Java clients"
Extension provides solution for generating performant  Quarkus Java Client.
I'm opening thread to discuss investigation I'm doing to validate non Quarkus use cases.

## Why

Quarkus community want to provide first class quarkus support and implement capabilities like async support. For some of the cases we need to have more universal support:

 - Ability to work with generic java use cases (some c

[2022-06-14 15:55] wtrocki commented on #82
This is amazing feedback.
Two follow ups:

1) How do you envision java case work - would we document what libraries users add manually to their pom?

2) I think to move further I need capability/documentation on how to add custom templates to modify behaviour of the generator.
I tried the classic openapi generator way but as mentioned - this extension using different templating engine so that woul

[2022-06-14 18:33] ricardozanini commented on #82
Thank you!

Here's the follow-ups:

I'd say to instruct users to manually add them in runtime. We already do that, see: https://github.com/quarkiverse/quarkus-openapi-generator#oauth2-authentication

Well, we don't have a doc, but I think you can take inspiration from these: https://github.com/quarkiverse/quarkus-openapi-generator/tree/main/deployment/src/main/resources/templates

I would add a `q

[2022-06-15 10:05] krisv commented on #82
+1 on trying to do it in one extension, and use abstractions with potentially different implementations where (and only where) necessary.  I believe that shouldn't conflict with the Quarkus use cases (and let's see what challenges we run into when attempting this).

[2022-06-18 16:09] miguelchico opened #85 "How to use additionalModelTypeAnnotations"
I would like to include some extra additional annotations to the models generated here.
I come from openapi-generator project and there is a way of doing it using a property called additionalModelTypeAnnotations.

I’ve done a bit of digging and I found same property mentioned on templates here as well but I wasn’t able to find the way of adding configuration for it.

Is it possible? If it is not I

[2022-06-20 13:25] #72 closed

[2022-06-22 13:37] miguelchico opened #86 "@ApplicationScoped required for mocking api and missing"
Hello

Following the official Quarkus guide (https://quarkus.io/blog/mocking/#using-injectmock) I found out I need to use the @ApplicationScoped annotation in the interface defining the api and that annotation is missing in the generated code here.

Is there any way of adding it? Is it possible mocking in any other way?

Thanks

[2022-06-22 20:02] ricardozanini commented on #86
Hi @miguelchico! Currently, you can't. We can add it in here, though: https://github.com/quarkiverse/quarkus-openapi-generator/blob/main/deployment/src/main/resources/templates/api.qute#L40.

Can you send a PR and run some tests to evaluate it?

As a workaround, I think you can try overwriting the interface and adding your annotation there.

[2022-06-23 07:16] miguelchico commented on #86
@ricardozanini I sent a super small PR, please check it when you have the time.

Thank you

[2022-06-23 15:35] #86 closed

[2022-06-27 12:28] #85 closed

[2022-07-07 20:33] hbelmiro opened #103 "Remove imports from .qute templates to avoid compilation error due to ambiguity"
Currently the .qute templates have fixed imports, like [these](https://github.com/quarkiverse/quarkus-openapi-generator/blob/41e09eb8f460f82f885f3de2b2c0f61096c7fc81/deployment/src/main/resources/templates/api.qute#L7).
This can lead to compilation errors due to ambiguity when a type in the OpenAPI document has the same simple name as an imported class. For instance:

[code]

[code]

To avoid this

[2022-07-07 20:59] hbelmiro commented on #103
@ricardozanini Actually https://github.com/quarkiverse/quarkus-openapi-generator/pull/102 doesn't closes this issue. That PR only removes the necessary Response import.

This issue is a proposal to remove all imports.

[2022-07-08 20:18] hbelmiro opened #104 "OpenApiGeneratorStreamCodeGen throwing NullPointerException"
The following OpenAPI document causes NullPointerException in OpenApiGeneratorStreamCodeGen.

[code]

[code]

[2022-07-11 17:01] hbelmiro commented on #104
I found that the issue happens when our project uses a different Quarkus version than the version used by this extension.
I don't see this as a bug since is expected that using different versions may cause unpredictable issues.
Nevertheless, I think my PR can prevent this NPE from happening due to other reasons.

[2022-07-14 07:12] Leibnizhu opened #108 "[Question] How to use custom RegisterProvider ?"
This plugin will add a `@RegisterProvider(CompositeAuthenticationProvider)` annotation at generated Api interface,   when authentication is defined in openapi spec.

But in some case, we need custom RegisterProvider, e.g. logging. I wonder how to achieve it.

[2022-07-14 13:55] ricardozanini commented on #108
@Leibnizhu there's no way to change the way we generate the API to add a custom `RegisterProviders`, but have you tried to extend the generated interface and add it there?

[2022-07-15 01:39] Leibnizhu commented on #108
@ricardozanini Thx, good idea. it works for me

[2022-07-15 13:37] ricardozanini commented on #108
@Leibnizhu, if you have the time, do you mind opening a PR to the README and adding a section there briefly explaining to users how to add custom `RegisterProvider`s? 🙇

[2022-07-15 15:01] hbelmiro opened #109 "Generated rest client ignoring "servers" on path-level"
Given the following path from an OpenAPI definition (the entire OpenAPI definition file is located in the end of this description):

[code]

The extension is ignoring the defined URL when generating the rest client.
MicroProfile provides `@RegisterRestClient(baseUri = "http://localhost:8080/")`, but this annotation can only be used in classes and what we need in this use-case is a method-level one

[2022-07-15 15:02] hbelmiro commented on #109
@fjtirado FYI

[2022-07-15 17:11] fjtirado commented on #109
I vote for the middle ground, which in this case is:
- change the codebase to support that only when we are really bore (potentially never ;)
- In the meantime, document that this is something we are not yet supporting and keep this issue open.

[2022-07-15 18:29] ricardozanini commented on #109
We can document that we do not support this feature.

OR

We can take the parsed spec, fetch the `servers` tag from every method and add it to the annotation. [We already have a way that is doing this](https://github.com/quarkiverse/quarkus-openapi-generator/blob/main/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/wrapper/QuarkusJavaClientCodegen.java#L81-L90). A function wou

[2022-07-16 00:45] Leibnizhu commented on #108
@ricardozanini : i am glad to do that.

[2022-07-18 10:31] boun opened #110 "capability io.quarkus.rest.client provided by multiple providers"
Hi,

I'd love to use your project in a project of mine, but migrated to resteasy-reactive, as that seemed to recommended by the quarkus documentation (https://quarkus.io/guides/resteasy Quote: *It is now recommended to use RESTEasy Reactive ....*). However that creates a conflict:

[code]

I tried to exclude in gradle, hoping for a drop-in replacement:

[code]

But that did not work as well. Any s

[2022-07-18 11:46] #104 closed

[2022-07-18 12:44] ricardozanini commented on #110
@boun, I believe we need to do this within the extension itself since there are changes in the deployment and runtime. You won't be able to change the dependencies this way. Additionally, I believe we might need to change the templates as well. I can work on this a few weeks from now.

[2022-07-22 12:05] #108 closed

[2022-08-08 06:18] svartkanin opened #117 "Import generated-source files in target folder"
Hey everyone!

This might be a silly question but how does one import the generated files such as `target/openapi/quarkus/clients_json/api/DefaultApi.java` in the actual source files located in `src/main/...`?

when I try to inject the class with

[code]

then the compilation fails because DefaultApi cannot be found.

I have tried specifying a different output folder as suggested here https://stac

[2022-08-08 15:02] ricardozanini commented on #117
Hi!

Quarkus automatically include the generated files into your classpath. You don't need to do anything.

Before adding the annotation to your files, generate them by running `mvn clean install`. Then in `target/generated-sources/openapi-json/<namespace>`, you should see everything generated for you.

The IDE should import these files to your classpath, so you can easily access them in your proj

[2022-08-08 22:28] svartkanin commented on #117
@ricardozanini thanks for the reply. So what I did is create a file `src/main/openapi/clients.json` with
[code]

then I run
[code]

which generated the file `target/generated-sources/open-api-json/org/openapi/quarkus/clients_json/api/DefaultApi.java ` with the content

[code]

So at this stage I would assume it is available to be used, but when using
[code]

 It cannot be found
[code]

[2022-08-09 18:28] ricardozanini commented on #117
Yes, that should work. Are you using Kotlin, I'm assuming? So I think you must configure your build tooling to add the `target/generated-sources/open-api-json/` into your classpath.

@gastaldi, do you have any clue or experience with Kotlin + Quarkus generated files?

[2022-08-09 18:51] gastaldi commented on #117
@ricardozanini No idea, but it seems to be a build tooling configuration as you said. Maybe @evanchooly knows about it

[2022-08-09 21:31] evanchooly commented on #117
Generally the puffin that generates that code also updates the project model to include the generated source folder.  Otherwise you can use [this](http://www.mojohaus.org/build-helper-maven-plugin/usage.html) to manually add that folder.

[2022-08-10 14:39] ricardozanini commented on #117
@evanchooly, I'm assuming the Quarkus plugin is already doing that, then? Because this works in Java.

[2022-08-10 14:50] evanchooly commented on #117
I'm not familiar with that plugin honestly.   I would expect so. But it might be running afoul of the separate kotlin plug-in used to compile rather than the normal Java plug in. I'm on the road at the moment but can take a look in a few days unless @aloubyansky (I think...) knows better.

[2022-08-10 16:22] aloubyansky commented on #117
We don't add sources directories to the Maven project in the Quarkus plugin. They are expected to be either added in the POM by the user or another plugin that is generating the sources.

[2022-08-10 18:34] ricardozanini commented on #117
@aloubyansky, I thought our extension was already doing this since it works in the "vanilla" setup:

[code]

The extension just delegates to Quarkus in build-time; the files are then generated in the right place:`target/generated-sources`.

@svartkanin Can I take a look in your Kotlin setup?

[2022-08-10 19:42] aloubyansky commented on #117
The question is in which phase the error happens? I suppose it could work in dev mode, assuming it can get passed the compilation phase in Maven. But `mvn compile` may fail because the compiler plugin may be missing the information about generated sources location. A reproducer would definitely help clarifying the issue.

[2022-08-11 05:38] svartkanin commented on #117
Unfortunately I can't share any code around this as it's not a public repository

[2022-08-11 06:01] aloubyansky commented on #117
@svartkanin could you perhaps create a very simple project that demonstrates the issue? That we could later also add to our testsuite.

[2022-08-15 17:40] melloware opened #118 "Multipart File Generation as InputStream"
Current Multipart Generation is generating the call with a File object when an InputStream would be preferred.

**Current:**
[code]

When ideally for more flexible client rather than requiring a File object requiring an InputStream so it can be streamed from say S3 or Azure Blob store.

**Wanted:**
[code]

Full current example.
[code]

[2022-08-15 17:43] ricardozanini commented on #118
@melloware, thanks for opening this issue.

Can you send a PR? This is a reasonably simple request. We can keep both options online with a codegen property. wdyt?

[2022-08-15 17:53] melloware commented on #118
Yep let me work on that.  I may have a question on how to make it a switchable property.  But let me submit a PR for you to review.

[2022-08-16 11:01] ricardozanini commented on #118
@melloware, I'll check in the codebase. These variables usually come from the bundle mapped by the openapi-generator library. Unfortunately, they are poorly documented, so we debug the `DefaultGenerator` class to find out.

@Orbifoldt, since you introduce this feature, can you please take a look?

[2022-08-16 17:10] Orbifoldt commented on #118
Ok, so I see a few options:
1. We add the custom properties `typeMappings` and `importMappings` to this extension and forward their values to the corresponding properties part of that default code gen in the openapi generator. To achieve what we want we should set `typeMappings='File=InputStream'` and `importMappings='File=java.io.InputStream'`. (here `File` is the openapi type)
2. Same as 1., but

[2022-08-16 17:55] melloware commented on #118
I like either but the simpler the better so `typeMappings='File=java.io.InputStream' I am good with.

[2022-08-16 19:51] ricardozanini commented on #118
Thanks for the great summary, @Orbifoldt! I believe we can use the FQN, hence option 2.

[2022-08-17 07:41] oliver-b-mazur-db opened #120 "support openapi oneOf / anyOf"
The actual version of quarkus-openapi-generator is using version 5.4.0 of the openAPITools.
The openApiTools 5.4.0 does not support openapi oneOf and anyOf. Please update openApiTools to the last stable version 6.0.1 which supports oneOf / anyOf.

[2022-08-17 13:31] ricardozanini commented on #120
@oliver-b-mazur-db it's on my plans to upgrade to 6.x, but since it's a major release, we might have to postpone a little bit to assess the impact.

[2022-08-22 19:00] ricardozanini opened #124 "[SPIKE] Support any inner generator property in `quarkus.openapi-generator.codegen`"
We are getting more and more requests to add specific properties from the inner generator.

Instead of hand-picking them and adding support directly to our constructor, it would be cleaner if we could do something like `quarkus.openapi-generator.codegen.inner-gen.<key>`, where `<key>` is a specific property from:

- https://openapi-generator.tech/docs/generators/java
- https://openapi-generator.te

[2022-08-27 18:39] melloware commented on #118
@Orbifoldt any update on this?

[2022-08-30 05:54] vladaman commented on #117
I do have same issue. Files are generated in target/ folder but Intellij does not include them automatically.

[2022-08-30 06:30] aloubyansky commented on #117
@vladaman any chance you could share reproducer for us?

[2022-08-30 06:43] vladaman opened #127 "Feature Request: Include Lambda Context config option"
We use Quarkus with AWS Lambda HTTP Functions. I'd like to see an option to include context generated interfaces.

Such as:
[code]
should become
[code]

[2022-08-30 07:50] vladaman opened #128 "How to customize templates"
Is there any guide how to customize templates? Or even I'd like to pull code from git and modify library to fit out needs. I tried to import module `runtime` and `development` or event entire repo in IntelliJ but none of them seems to pickup the code generator process. Any way to link module to our app so we can alter some templates? What's the right setup? Thanks!

![image](https://user-images.gi

[2022-08-30 08:18] vladaman commented on #117
@aloubyansky After few attempts it stared to work. I removed the maven module, added it again, executed ` mvn clean`, `mvn quarkus:generate-code` and restarted IntelliJ. After this it picked up the sources. It needs some specific steps to make it work. Not sure how to replicate this.

[2022-08-30 08:27] aloubyansky commented on #117
It seems like because the directory containing the generated files didn't exist at the time of the original import and so it wasn't registered as a source dir. Not sure what we could do about it.

[2022-08-30 11:55] vladaman commented on #120
Does this apply to allOf ? It seems like generator is silently ignoring it.

[2022-08-30 12:35] ricardozanini commented on #120
@vladaman, not sure. I have to look at the code. Suppose it's a feature that depends on 6.x, I'm afraid I can't add. But if it's there, we can add it to the templates.

[2022-08-30 12:40] ricardozanini commented on #128
Hi! You can't override the templates at this time. But it's an interesting feature to have.

What's your use case, so I can try to think on something.

[2022-08-30 12:42] ricardozanini commented on #127
This is a more generic flavored generator. I don't have plans to include specific vendor dependencies on it.

Can't you just override the generated client and use it instead?

[2022-09-01 21:39] mike-hampton-float opened #131 "Yaml configuration not honored."
My configuration is in a yaml file.

My openapi file is here crm-svc/service/src/main/openapi/sellerdeal.yaml

My application.yaml file has

[code]

## Expected
The generated interfaces have the package:

[code]

## Actual
The generated interfaces have the package:

[code]

[2022-09-02 06:27] vladaman commented on #127
OK I found solution to my specific issue. I turns out the Quarkus supports injection of Lambda context in class field directly. For those who need this:

[code]

[2022-09-02 06:27] #127 closed

[2022-09-02 11:57] ricardozanini commented on #127
Thanks!

[2022-09-02 12:09] ricardozanini commented on #131
Hi @mike-hampton-float! Thanks for reporting it. I'll take a look.

[2022-09-04 16:50] stephan-strate opened #134 "Kotlin support"
It would be amazing to have Kotlin support for this extension. Main advantages would be the pojos with nullability for types and coroutines for reactive implementations.

Maybe we could discuss a way to integrate it.

Happy to contribute.

[2022-09-04 19:43] melloware opened #135 "Option: Exclude deprecated operations from generating code"
You need a Open API file with an API call marked `deprecated: true`

Here is an example operation with ` "deprecated": true,` I would love a config option `excludeDeprecatedOperations` to basically not generate any code for any deprecated APIs.  It will reduce my client code and prevent someone from calling deprecated APIs.

[code]

[2022-09-05 11:47] ricardozanini commented on #135
We already have something similar for the attributes in the model: https://github.com/quarkiverse/quarkus-openapi-generator#skip-deprecated-attributes-in-model-classes.

It should be straightforward to do that for operations. Do you want to send a PR? :)

[2022-09-05 11:48] melloware commented on #135
Let me take a look!

[2022-09-05 11:51] ricardozanini commented on #134
Hi!

I think it won't take too much effort to implement this if someone with Kotlin knowledge would create the templates.
A codegen property to select the language and keep Java by default should do the trick. Then, in the generator, we load one set of templates or another. Remember that everything we do in the Java templates, we should do in Kotlin.

If you take this endeavor, I would ask you to

[2022-09-05 17:44] melloware commented on #135
OK I think I got it right if you don't mind reviewing my PR.

[2022-09-06 16:26] vladaman commented on #131
I have same issue. There is different behavior  depending on how you run the generator.

1. `mvn clean quarkus:generate-code` doesn't honor configuration option and generates code with org.openapi.quarkus package
2. `mvn clean compile` generates code properly

[2022-09-06 19:24] ricardozanini commented on #131
hmm, it might be a bug in Quarkus, then. Thanks for sharing @vladaman. I'll take a look later this week.

[2022-09-06 19:25] ricardozanini commented on #131
By the way, @gastaldi @geoand, do you guys know or have you seen anything like this before?

[2022-09-06 20:39] gastaldi commented on #131
No idea, but is this reproducible using `application.properties` too?

[2022-09-08 17:30] ricardozanini commented on #131
No, using `application.properties` works. :(

[2022-09-08 17:31] #135 closed

[2022-09-08 18:07] ricardozanini commented on #128
@vladaman, based on other issues you've opened, I assume you have a workaround? Additionally, can you share your use case for a need to override the templates?

[2022-09-08 18:49] gastaldi commented on #131
It may indicate that the YAML ConfigSource is not found during `quarkus:generate-code`. WDYT @aloubyansky ?

[2022-09-09 10:54] vladaman commented on #128
@ricardozanini well not yet. We are still trying to find "right" way of using Quarkus + AWS API Gateway (HTTP) + OpenAPI generator. We feel like if we'd have an option to edit generator templates it would help us. At least it would be welcomed to read a contribution guide how we can fork this repo and make changes. Frankly - I could not figure out how to even contribute. How to include a repositor

[2022-09-09 11:34] hbelmiro commented on #128
Do you have a specific question on this @vladaman?
You just need to import the whole repo in your IDE, change the templates, install it on your maven repo, and you're ready to use it on your project.
The templates are located at https://github.com/quarkiverse/quarkus-openapi-generator/tree/main/deployment/src/main/resources/templates.

[2022-09-09 11:53] ricardozanini commented on #128
Honestly, I'd recommend not doing that. We can figure something out together, so you can extend the templates.

There's no secret here. You fork, make your changes and submit a PR. The tricky thing is figuring out the architecture, as I understand can be troublesome sometimes. But the code is quite straightforward.

For this case specifically, we should support out of the box. Our generator should

[2022-09-13 20:32] stephan-strate commented on #134
I will try to get a draft working and submit it as pr.

[2022-09-16 11:43] Orbifoldt commented on #118
I started working on this @melloware @ricardozanini , see #143

[2022-09-20 12:12] melloware commented on #118
Closed with https://github.com/quarkiverse/quarkus-openapi-generator/pull/143

[2022-09-26 18:11] melloware commented on #118
tested this today and it works perfectly!

[2022-09-26 18:11] #118 closed

[2022-10-04 17:53] hbelmiro opened #150 "Migrate to RESTEasy Reactive"
This extension uses RESTEasy Classic. However, Quarkus recommends using RESTEasy Reactive now.
Documentation: https://quarkus.io/guides/resteasy-reactive-migration

[2022-10-04 18:06] hbelmiro opened #151 "Change examples to a more use case/guides oriented documentation"
Currently, we have the examples documented as if they were all in the same project.
It would be better if they were written more oriented to use cases. Similar to what Quarkus has on its [guides](https://quarkus.io/guides/).

[2022-10-07 12:11] hbelmiro commented on #131
@gastaldi @aloubyansky

When the implementation of `CodeGenProvider` runs, the quarkus-config-yaml extension has not yet been loaded.

https://github.com/quarkiverse/quarkus-openapi-generator/blob/98f70d2ee0aa5d53a82b56a7c8cffc821d1ca4cd/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/codegen/OpenApiGeneratorCodeGenBase.java#L52

Would that be the expected behavior or a bug?

[2022-10-07 21:31] aloubyansky commented on #131
It's a bug, imo. The yaml config source has been loaded by that time but the config instance passed to the code generator doesn't include it.
@radcortez this looks like a consequence of https://github.com/quarkusio/quarkus/pull/21887 and https://github.com/quarkusio/quarkus/commit/ff95ddfb5aa82ad67688c55a43c6815af622820c that resulted in https://github.com/quarkusio/quarkus/blob/main/core/deployme

[2022-10-07 21:50] aloubyansky commented on #131
It seems like we don't want to load config sources from the app module itself but do want to support those found in the dependencies (whether they belong to the same multi module project or not). We should be able to achieve that with classpath filtering.

[2022-10-07 22:23] aloubyansky commented on #131
Here is a sketch https://github.com/aloubyansky/quarkus/commit/126c5afa28623e717879a86349491e9431ff87f7 @radcortez am I missing something?

[2022-10-07 22:56] aloubyansky commented on #131
Sorry, disregard the previous one.
Here is a sketch https://github.com/aloubyansky/quarkus/commit/309480dce3fc08e5beeb5246ffdd4be6f1a9e19a @radcortez am I missing something?

[2022-10-08 18:36] melloware commented on #150
I would like a switch bewteen the two if possible because a lot of us still use RestEasy Classic.

[2022-10-08 18:39] melloware commented on #150
Isn't this also similar to this ticket: https://github.com/quarkiverse/quarkus-openapi-generator/issues/82

Read that discussion where it talks about generating different client types.

[2022-10-10 12:49] radcortez commented on #131
Yes, commented on the commit :)

[2022-10-10 13:59] hbelmiro commented on #150
@melloware I don't think so. This is just to replace the RESTEasy classic dependency with the reactive one. It shouldn't result in significant changes.

[2022-10-10 14:30] ricardozanini commented on #131
Thanks guys!

[2022-10-10 18:14] hbelmiro commented on #150
There's this compatibility break that affects Multipart requests: https://github.com/quarkusio/quarkus/issues/23059#issue-1109278469
We need a definition from Quarkus before proceeding with this.

[2022-10-10 18:15] melloware commented on #150
Good I am heavily using MultiPart requests.

[2022-10-11 12:06] hbelmiro commented on #110
@boun I have started the migration to RESTEasy Reactive.
This is the tracking issue: https://github.com/quarkiverse/quarkus-openapi-generator/issues/150

[2022-10-14 13:10] hbelmiro commented on #131
Thanks for the quick fix @aloubyansky and @radcortez.
However, this extension needs exactly the config that is in the root app, which is not contemplated in the fix.
I think there's a good reason for not existing a YAML alternative for [ApplicationPropertiesConfigSourceLoader](https://github.com/quarkusio/quarkus/blob/37a87a71df500f7557c603df209e5687962ffd49/core/runtime/src/main/java/io/quarkus/r

[2022-10-14 13:17] aloubyansky commented on #131
@hbelmiro do you have a config or a config provider impl? Unless it's the config provider, it should work. Is there a chance you could give it a try? You'd need to build the main branch of Quarkus. Let me know if you need help/instructions to do that.

[2022-10-14 13:28] hbelmiro commented on #131
@aloubyansky I tried and it didn't work. I might have done something wrong though.

The scenario is the following:
The user creates a Quarkus app with a src/main/resources/application.yaml and the quarkus-openapi-generator dependency (this extension). During a `mvn compile`, this extension needs to read the config from application.yaml to perform its job.

Should it work?

[2022-10-14 13:29] aloubyansky commented on #131
Yes. Do you have a reproducer ready to try?

[2022-10-14 13:32] aloubyansky commented on #131
Do you have `quarkus-config-yaml` among the project's dependencies?

[2022-10-14 13:35] hbelmiro commented on #131
I definitely did something wrong. It's not using Quarkus 999-SNAPSHOT.
I'll try again and if it doesn't work, I'll provide a reproducer.

Yes.

[2022-10-14 14:52] hbelmiro commented on #131
@aloubyansky It worked. Sorry for wasting your time. Thanks for the help :)

@ricardozanini we can close this issue.

[2022-10-14 14:56] aloubyansky commented on #131
Thanks for confirming @hbelmiro!

[2022-10-14 15:53] #131 closed

[2022-10-19 08:40] einarjohnson opened #157 "Issues with quarkus-openapi-generator and existing rest-client"
Hello,
When I add the
[code]
dependency into my POM file for a Quarkus Lambda handler that uses the `quarkus-rest-client-reactive`  extension I start getting weird errors when my rest client implementation tries to contact a GET endpoint. Is the `quarkus-openapi-generator` compatible with the `quarkus-rest-client-reactive` extension? I am using the latest version of Quarkus, **2.13.2.Final**.

The

[2022-10-19 11:39] YassinHajaj opened #159 "Import org.eclipse.microprofile.rest.client.annotation.RegisterProvider when custom-register-providers is used"
When using

`quarkus.openapi-generator.codegen.spec.file_name.custom-register-providers`

The providers get correctly added to the file, but the import is missing.
Note I'm not using any authentication, which might be the reason why some have the problem, some not.

I created the following pull request to fix this.
Which still need to be tested.

https://github.com/quarkiverse/quarkus-openapi-gene

[2022-10-19 12:52] ricardozanini commented on #157
Hi @einarjohnson! We are still migrating to the new `quarkus-rest-client-reactive`. See #150. Until then, I believe this extension can't be used with reactive clients. 😞

[2022-10-19 12:53] ricardozanini commented on #150
Relates to #157

[2022-10-19 17:04] einarjohnson commented on #157
Thank you @ricardozanini for the quick response!

[2022-10-20 17:45] melloware commented on #118
Any change we can get a release I would like to use this plugin not in SNAPSHOT form???

[2022-10-20 17:58] ricardozanini commented on #118
@melloware, we are releasing one after #158

[2022-10-20 18:10] #159 closed

[2022-10-20 18:10] ricardozanini commented on #157
Closing this one since we already have #150

[2022-10-20 18:10] #157 closed

[2022-10-20 18:53] ricardozanini commented on #118
@melloware https://github.com/quarkiverse/quarkus-openapi-generator/releases/tag/0.12.0

Please, next time, don't let this rest too much time; we don't have a strict release schedule. This means that we can release any time the community needs.

[2022-10-20 20:20] melloware commented on #118
Thank you !!!

[2022-10-20 20:56] melloware commented on #118
@Orbifoldt I am seeing these warnings now though is this expected?  Everything is working properly.

I have
[code]

[code]

[2022-10-22 16:50] Orbifoldt commented on #118
@melloware It seems to me a false-positive warning, I checked the unit/integration tests and there I see that warning there too (e.g. io.quarkiverse.openapi.generator.it.TypeAndImportMappingTest#canMapTypesAndImportToDifferentValues). I am still not 100% on how quarkus extensions should deal with config...

@ricardozanini Do you maybe know how to fix or suppress this warning? I did declare the con

[2022-10-24 13:54] ricardozanini commented on #118
Do you mind sending a PR? If I would guess, I'd say that not using `Optional` for maps is the way to go since a map can be empty.

[2022-10-24 14:47] hbelmiro commented on #118
Yes, @ricardozanini is right. I've just tried here and Quarkus doesn't work with `Optional<Map<String, String>>`. If the config is absent, Quarkus converts it to an empty `Map`.

[2022-10-24 19:22] Orbifoldt commented on #118
I fixed it in https://github.com/quarkiverse/quarkus-openapi-generator/pull/165

[2022-10-25 11:40] einarjohnson commented on #150
Any ETA on when this might be fixed/become compatible?

[2022-10-25 12:47] hbelmiro commented on #150
@einarjohnson I'm working on this.
There's [this compatibility](https://github.com/quarkusio/quarkus/issues/23059#issuecomment-1287053067) break I still need to assess and there might have others that I'm still not aware of. Therefore I don't have a ETA. Sorry.

[2022-10-25 12:57] einarjohnson commented on #150
@hbelmiro, thanks for getting back to me so quickly.

[2022-10-25 14:19] #151 closed

[2022-10-25 14:21] ricardozanini commented on #151
@hbelmiro, feel free to open another issue to enhance the documentation of our examples. Also, we need to migrate to Quarkus Guides Antora style.

[2022-11-09 07:40] vladaman opened #173 "Possible to exclude from release build?"
Quarkus OpenAPI generator is our biggest .jar dependency in production code. quarkus-openapi-generator-deployment adds about 5.8MB of package size. Since we deploy it on AWS Lambda it makes sense for us to optimize final package size.

Is there any way to remove this from release build? Is this .jar dependency required?

[2022-11-09 20:14] hbelmiro commented on #173
quarkus-openapi-generator-deployment is not included in the production jar. How are you verifying this?
I've just created the jar for https://github.com/quarkiverse/quarkus-openapi-generator/tree/main/integration-tests/simple and it has only 643 bytes.

[code]

[2022-11-10 07:03] vladaman commented on #173
Thanks @hbelmiro for looking into this! It may be related to our specific use case in which we deploy code as AWS Lambda package.

[code]

Our dependency:
[code]

[2022-11-10 15:20] hbelmiro commented on #173
@vladaman as we can see in your output, the jar that uses 5.4M is the org.openapitools.openapi-generator-5.4.0.jar one. This is the underlying library, not quarkus-openapi-generator-deployment.

But anyway... I tried to create a reproducer here and in my example org.openapitools.openapi-generator-5.4.0.jar is not included in the generated zip.
Do you mind providing a reproducer?

[2022-11-10 16:54] hbelmiro commented on #128
@KiMurray this feature hasn't been added yet.

[2022-11-14 12:37] ricardozanini commented on #128
@KiMurray, instead of overriding the template, I believe your use case can be solved by implementing a similar behavior of the jaxrs spec. We ignore the model defined in the OpenAPI file and use `Response` instead.

It's easier to implement, I'll track it in a new issue.

[2022-11-14 12:40] ricardozanini opened #174 "Make sure that the property `interfaceOnly` is exposed"
See: https://openapi-generator.tech/docs/generators/jaxrs-spec/

We already use this generator underneath. The property `interfaceOnly` can be exposed by the plugin. The trick here is also to update the templates to ensure that the property is considered.

Request: https://github.com/quarkiverse/quarkus-openapi-generator/issues/128#issuecomment-1310557441

[2022-11-14 12:45] #39 closed

[2022-11-14 12:52] ricardozanini commented on #173
@vladaman, the `openapi-generator-5.4.0.jar` is only used for generating the OpenAPI code in build time. You don't need to ship this library in your production code. It seems to me that you somehow include the `*-deployment` jars to your package, which is not needed for runtime in any case AFAIK. That applies to any Quarkus plugin.

[2022-11-15 09:12] KiMurray commented on #174
Im a little confused.

My understanding was that this extension uses the Java client generator, has something changed? / Can this extension also generate server stubs?
Cheers

[2022-11-16 10:52] ricardozanini commented on #174
We use the Java Client Generator from the OpenAPI Generator library. Theoretically we can generate server stubs too, but it's out of scope.

The idea behind this issue is to implement a similar behavior in the client side, so instead of generating something like this:

[code]

We do this:

[code]

@KiMurray that's what you're looking for, right?

[2022-11-16 14:32] hbelmiro commented on #174
Sorry @KiMurray. It seems to be the same as @ricardozanini is saying in his previous comment.
Am I missing something?

[2022-11-17 07:45] gwydionmv opened #176 "Specify a different root path for files"
I'd like to add a new functionality to the generators to allow changing the root path from "src/main/openapi" to a custom one, and also being able to filter which files inside that directory must be used. I've been doing some tests and it could be done with just 2 new optional properties and a couple of new lines in OpenApiGeneratorCodeGenBase.

I found that OpenApiGeneratorStreamCodeGen could pot

[2022-11-17 09:11] KiMurray commented on #174
@ricardozanini, yes! your updated comment is exactly what we need. Had me a little confused for a moment there. 😄

[2022-11-17 12:01] hbelmiro commented on #176
Go ahead @gwydionmv. I can help with the review.
I think you can do it in OpenApiGeneratorCodeGenBase.

Regarding a filter, we already have something similar implemented but not yet released.
https://github.com/quarkiverse/quarkus-openapi-generator#ignoring-openapi-specification-files
If you need this now we can release a new version. Just let me know.

[2022-11-17 12:39] gwydionmv commented on #176
Nice @hbelmiro , thanks a lot!

About that filter using an _ignore_ property, I considered using it but for our use case it's going to be much better having a "positive filter" than a negative one. I also think that it helps towards maintainability specifying which files to use than which not to use.

And if not, better having both functionalities and let everyone use the one they prefer 😃

[2022-11-17 14:04] ricardozanini commented on #176
@gwydionmv, why change the default directory from `src/main/openapi` to any other? I think it's fine for filtering, but let's try merging it with the ignore filtering feature. What I mean is that both should be ubiquitous in UX. For example:

[code]

Also, let's design so that `OpenApiGeneratorCodeGenBase` would be associated with this feature and not implemented directly in that class.

Lastly, y

[2022-11-18 11:46] gwydionmv commented on #176
@ricardozanini I'm working on a project in which we have several products (microservices) that comunicate with each other. We want to use git submodules to share the openapi formats across all of them, and we just need some of the client classes in each of the microservices. That's the reason for both features: changing the base directory to be able to load the files from the submodule, and select

[2022-11-18 20:53] hbelmiro opened #180 "Use dynamic port where possible in tests that use WireMock"
There are a few tests that instantiate a `WireMockServer` with a fixed port, like: https://github.com/quarkiverse/quarkus-openapi-generator/blob/c4c13c6ad77928efee3fd69419c231b505e5b75d/integration-tests/security/src/test/java/io/quarkiverse/openapi/generator/it/security/WiremockOpenWeather.java#L22

We should replace it with `new WireMockServer(WireMockConfiguration.wireMockConfig().dynamicPort()

[2022-11-21 01:29] mike-hampton-float opened #181 "Mapping DateTime to Instant is ignored"
Using a mapping to have the openapi `DateTime` map to `java.time.Instant` is ignored.  The type generated is still `java.time.OffsetDateTime`

The following repo illustrates the issue and allows it to be reproduced easily:
[https://github.com/mike-hampton-float/example-quarkus-api](https://github.com/mike-hampton-float/example-quarkus-api)

[2022-11-21 11:15] ricardozanini commented on #181
I think this is a limitation of the inner generator:

See: https://github.com/quarkiverse/quarkus-openapi-generator#type-and-import-mappings

Although I believe it is doable to take a look at the issue to see what can we do about it.

[2022-11-21 11:16] ricardozanini commented on #181
cc @Orbifoldt @melloware

[2022-11-21 14:05] melloware commented on #181
Have you tried.

[code]

[2022-11-21 14:55] mike-hampton-float commented on #181
Thanks you for the idea @melloware .  That did not work, it appears the import-mappings is ignored.
But it _did_ change the type of the variable.  So I tried

[code]

And it worked!  It places the fully qualified name in the variable, but that is ok. This is a good workaround, but I still see this as a bug.

[2022-11-21 15:14] melloware commented on #181
nice yes i thought something looked off there!

[2022-11-21 15:15] melloware commented on #181
OK so i think its your misunderstanding.  This is mapping Java Type to Java Type and you were supposing it was mapping OpenAPI type to Java Type.

So there is no `DateTime` in Java only OffSetDateTime, ZonedDateTime etc.  So its not a bug i think its just a misunderstanding.

[2022-11-21 15:21] mike-hampton-float commented on #181
In another (much more complex) project, I have the following mapping:
[code]
Where the openapi file has the type specified as 'Money' which is defined in the openapi file, but we reset the definition to a common data model.   This works.

We also do the same type of mapping when generating the server using `org.openapitools:openapi-generator-maven-plugin`
[code]
There appears to be an inconsistenc

[2022-11-21 16:27] mike-hampton-float commented on #181
[This](https://github.com/mike-hampton-float/example-quarkus-api/blob/main/spec/openapi.yaml) is an example of the openapi.  The repo it is in does not include the custom mappings for the types (`CustomThing`, `CustomEnum`), but the openapi has the same structure.

[2022-11-21 16:49] ricardozanini commented on #181
Which version of OpenAPI Generator Maven plugin are you using?

[2022-11-21 17:17] mike-hampton-float commented on #181
6.2.0

[2022-11-21 22:30] Orbifoldt commented on #181
Just tested it, by commenting out this line https://github.com/quarkiverse/quarkus-openapi-generator/blob/c46cee4c4d2cff785278dc30700c6537164b545b/deployment/src/main/java/io/quarkiverse/openapi/generator/deployment/wrapper/QuarkusJavaClientCodegen.java#L28 and then setting
[code]
it uses Instant for every field of oas type "DateTime" and adds the import

[2022-11-22 11:00] ricardozanini commented on #181
@Orbifoldt can't we override or change the order? Or even send a PR to the OpenAPI Generator upstream?

[2022-11-22 17:12] Orbifoldt commented on #181
@ricardozanini I am not sure if we can change the order, perhaps if we override the generate  or some other method of the generator and in there apply the user's mappings?
@mike-hampton-float Do you maybe know what happens if in the maven plugin you both set dateLibrary to java8 and try to override the type mappings?

Alternatively, we could perhaps remove the ` this.setDateLibrary(JavaClientCodeg

[2022-11-22 17:43] ricardozanini commented on #181
That's what I was thinking too.

[2022-11-22 20:21] hbelmiro commented on #174
@ricardozanini this issue's requirement is not very clear.
My understanding from @KiMurray's [original comment](https://github.com/quarkiverse/quarkus-openapi-generator/issues/128#issuecomment-1310557441) is 2 requirements:
1) Generate server code
This could be achieved by exposing `interfaceOnly`, but this is out of the scope of this extension and we won't implement it.

2) Return `Response` inst

[2022-11-22 20:22] Orbifoldt commented on #181
I suddenly had some inspiration 😄 This PR should allow mapping of dates and datetimes: https://github.com/quarkiverse/quarkus-openapi-generator/pull/182

[2022-11-23 14:41] ricardozanini commented on #174
`interfaceOnly` is just a name. As soon as we start working on the enhancement, we can develop a new name for this property.

The problem is that this property name can be used for a server side or client code gen, hence the confusion. But no, we won't generate server-side code. The requirement is to generate the Model with the `Response` interface instead of the actual data model.

[2022-11-23 19:04] #181 closed

[2022-11-25 20:27] hbelmiro opened #183 "Fix import order"
There are files with imports in the wrong order. This causes changes in these files when we run `mvn verify`, since this goal fixes the order of the imports.

[2022-11-28 13:34] ricardozanini commented on #183
I think we can add a step to our CI to verify if the developer has run it locally.

[2022-11-28 13:38] hbelmiro opened #188 "Add a step to the CI to verify code formatting and import order."
This is necessary to avoid imports in the wrong order and code badly formatted.

[2022-11-28 13:39] hbelmiro commented on #183
I've created https://github.com/quarkiverse/quarkus-openapi-generator/issues/188 to track that.

[2022-11-28 13:40] #183 closed

[2022-11-29 18:35] #173 closed

[2022-11-29 18:37] #117 closed

[2022-11-30 12:08] hbelmiro opened #191 "Add support to Quarkus 3"
Make the extension support Quarkus 3.
The idea is to have two branches: `main` will support Quarkus 3 and `quarkus2` will support Quarkus 2.